.cardContainer {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: black 0 0 10px;
}

.cardContainer:hover {
    transform: scale(105%);
}

.cardContainer img{
    border: black 2px solid !important;
}

.cardTitle{
    text-align: center;
}