.navbar {
    background: white;
    display: flex;
    list-style: none;
    color: black;
}


.navbar a {
    color: black;
    text-decoration: none;
}

.navbarNav{
    list-style: none;
    display: flex;
}

.navItem{
    margin: 0 10px;
}

.dropdown{
    position: relative;
    cursor: pointer;
}