.graphDiv{
    display: flex;
    flex-wrap: wrap;
}

.progressCircle {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    position: relative;
    padding: 0;
    width: var(--circumference);
    height: var(--circumference);
    background-color: #ECF0F7;
    border-radius: 50%;
    line-height: var(--circumference);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    display: inline-block;
    margin: 24px 24px 24px 20px;
 }
 
 .progressCircle:after {
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    content: " ";
 }
 
 /* Text inside the control */
 
 .progressCircle span {
    position: absolute;
    line-height: var(--circumference);
    width: var(--circumference);
    text-align: center;
    display: block;
    color: #ff0000;
    z-index: 2;
 }
 
 .leftHalfClipper {
    /* a round circle */
    border-radius: 50%;
    width: var(--circumference);
    height: var(--circumference);
    position: absolute;
    /* needed for clipping */
    clip: rect(0, var(--circumference), var(--circumference), var(--radius));
    /* clips the whole left half*/
 }
 
 /* when p>50, don't clip left half*/
 
 .progressCircle.over50 .leftHalfClipper {
    clip: rect(auto, auto, auto, auto);
 }
 
 .valueBar {
    /*This is an overlayed square, that is made round with the border radius,
     then it is cut to display only the left half, then rotated clockwise
     to escape the outer clipping path.*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, var(--radius), var(--circumference), 0);
    width: var(--circumference);
    height: var(--circumference);
    border-radius: 50%;
    border: 15px solid #ff0000;
    /*The border is 0.35 but making it larger removes visual artifacts */
    box-sizing: border-box;
 }
 
 /* Progress bar filling the whole right half for values above 50% */
 
 .progressCircle.over50 .first50Bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, var(--circumference), var(--circumference), var(--radius));
    background-color: #ff0000;
    border-radius: 50%;
    width: var(--circumference);
    height: var(--circumference);
 }
 
 .progressCircle:not(.over50) .first50Bar {
    display: none;
 }
 
 .graphTitle {
    position: relative;
    width: 100%;
    word-break: break-all;
    margin: -10px auto 0 auto;
    color: black;
    z-index: 1;
 }
 
 .graphcontent {
    width: 155px;
    height: 200px;
    text-align: center;
    display: inline-block;
 }

 /* Progress bar rotation position */
.progress-circle.p0 .valueBar {display: none;}
.progress-circle.p1 .valueBar {transform: rotate(4deg);}
.progress-circle.p2 .valueBar {transform: rotate(7deg);}
.progress-circle.p3 .valueBar {transform: rotate(11deg);}
.progress-circle.p4 .valueBar {transform: rotate(14deg);}
.progress-circle.p5 .valueBar {transform: rotate(18deg);}
.progress-circle.p6 .valueBar {transform: rotate(22deg);}
.progress-circle.p7 .valueBar {transform: rotate(25deg);}
.progress-circle.p8 .valueBar {transform: rotate(29deg);}
.progress-circle.p9 .valueBar {transform: rotate(32deg);}
.progress-circle.p10 .valueBar {transform: rotate(36deg);}
.progress-circle.p11 .valueBar {transform: rotate(40deg);}
.progress-circle.p12 .valueBar {transform: rotate(43deg);}
.progress-circle.p13 .valueBar {transform: rotate(47deg);}
.progress-circle.p14 .valueBar {transform: rotate(50deg);}
.progress-circle.p15 .valueBar {transform: rotate(54deg);}
.progress-circle.p16 .valueBar {transform: rotate(58deg);}
.progress-circle.p17 .valueBar {transform: rotate(61deg);}
.progress-circle.p18 .valueBar {transform: rotate(65deg);}
.progress-circle.p19 .valueBar {transform: rotate(68deg);}
.progress-circle.p20 .valueBar {transform: rotate(72deg);}
.progress-circle.p21 .valueBar {transform: rotate(76deg);}
.progress-circle.p22 .valueBar {transform: rotate(79deg);}
.progress-circle.p23 .valueBar {transform: rotate(83deg);}
.progress-circle.p24 .valueBar {transform: rotate(86deg);}
.progress-circle.p25 .valueBar {transform: rotate(90deg);}
.progress-circle.p26 .valueBar {transform: rotate(94deg);}
.progress-circle.p27 .valueBar {transform: rotate(97deg);}
.progress-circle.p28 .valueBar {transform: rotate(101deg);}
.progress-circle.p29 .valueBar {transform: rotate(104deg);}
.progress-circle.p30 .valueBar {transform: rotate(108deg);}
.progress-circle.p31 .valueBar {transform: rotate(112deg);}
.progress-circle.p32 .valueBar {transform: rotate(115deg);}
.progress-circle.p33 .valueBar {transform: rotate(119deg);}
.progress-circle.p34 .valueBar {transform: rotate(122deg);}
.progress-circle.p35 .valueBar {transform: rotate(126deg);}
.progress-circle.p36 .valueBar {transform: rotate(130deg);}
.progress-circle.p37 .valueBar {transform: rotate(133deg);}
.progress-circle.p38 .valueBar {transform: rotate(137deg);}
.progress-circle.p39 .valueBar {transform: rotate(140deg);}
.progress-circle.p40 .valueBar {transform: rotate(144deg);}
.progress-circle.p41 .valueBar {transform: rotate(148deg);}
.progress-circle.p42 .valueBar {transform: rotate(151deg);}
.progress-circle.p43 .valueBar {transform: rotate(155deg);}
.progress-circle.p44 .valueBar {transform: rotate(158deg);}
.progress-circle.p45 .valueBar {transform: rotate(162deg);}
.progress-circle.p46 .valueBar {transform: rotate(166deg);}
.progress-circle.p47 .valueBar {transform: rotate(169deg);}
.progress-circle.p48 .valueBar {transform: rotate(173deg);}
.progress-circle.p49 .valueBar {transform: rotate(176deg);}
.progress-circle.p50 .valueBar {transform: rotate(180deg);}
.progress-circle.p51 .valueBar {transform: rotate(184deg);}
.progress-circle.p52 .valueBar {transform: rotate(187deg);}
.progress-circle.p53 .valueBar {transform: rotate(191deg);}
.progress-circle.p54 .valueBar {transform: rotate(194deg);}
.progress-circle.p55 .valueBar {transform: rotate(198deg);}
.progress-circle.p56 .valueBar {transform: rotate(202deg);}
.progress-circle.p57 .valueBar {transform: rotate(205deg);}
.progress-circle.p58 .valueBar {transform: rotate(209deg);}
.progress-circle.p59 .valueBar {transform: rotate(212deg);}
.progress-circle.p60 .valueBar {transform: rotate(216deg);}
.progress-circle.p61 .valueBar {transform: rotate(220deg);}
.progress-circle.p62 .valueBar {transform: rotate(223deg);}
.progress-circle.p63 .valueBar {transform: rotate(227deg);}
.progress-circle.p64 .valueBar {transform: rotate(230deg);}
.progress-circle.p65 .valueBar {transform: rotate(234deg);}
.progress-circle.p66 .valueBar {transform: rotate(238deg);}
.progress-circle.p67 .valueBar {transform: rotate(241deg);}
.progress-circle.p68 .valueBar {transform: rotate(245deg);}
.progress-circle.p69 .valueBar {transform: rotate(248deg);}
.progress-circle.p70 .valueBar {transform: rotate(252deg);}
.progress-circle.p71 .valueBar {transform: rotate(256deg);}
.progress-circle.p72 .valueBar {transform: rotate(259deg);}
.progress-circle.p73 .valueBar {transform: rotate(263deg);}
.progress-circle.p74 .valueBar {transform: rotate(266deg);}
.progress-circle.p75 .valueBar {transform: rotate(270deg);}
.progress-circle.p76 .valueBar {transform: rotate(274deg);}
.progress-circle.p77 .valueBar {transform: rotate(277deg);}
.progress-circle.p78 .valueBar {transform: rotate(281deg);}
.progress-circle.p79 .valueBar {transform: rotate(284deg);}
.progress-circle.p80 .valueBar {transform: rotate(288deg);}
.progress-circle.p81 .valueBar {transform: rotate(292deg);}
.progress-circle.p82 .valueBar {transform: rotate(295deg);}
.progress-circle.p83 .valueBar {transform: rotate(299deg);}
.progress-circle.p84 .valueBar {transform: rotate(302deg);}
.progress-circle.p85 .valueBar {transform: rotate(306deg);}
.progress-circle.p86 .valueBar {transform: rotate(310deg);}
.progress-circle.p87 .valueBar {transform: rotate(313deg);}
.progress-circle.p88 .valueBar {transform: rotate(317deg);}
.progress-circle.p89 .valueBar {transform: rotate(320deg);}
.progress-circle.p90 .valueBar {transform: rotate(324deg);}
.progress-circle.p91 .valueBar {transform: rotate(328deg);}
.progress-circle.p92 .valueBar {transform: rotate(331deg);}
.progress-circle.p93 .valueBar {transform: rotate(335deg);}
.progress-circle.p94 .valueBar {transform: rotate(338deg);}
.progress-circle.p95 .valueBar {transform: rotate(342deg);}
.progress-circle.p96 .valueBar {transform: rotate(346deg);}
.progress-circle.p97 .valueBar {transform: rotate(349deg);}
.progress-circle.p98 .valueBar {transform: rotate(353deg);}
.progress-circle.p99 .valueBar {transform: rotate(356deg);}
.progress-circle.p100 .valueBar {transform: rotate(360deg);}