.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2%;
    /* height: 100%; */
    background: rgba(0, 0, 0, .75);
    width: 99vw;
}

.mainImage{
    height: 100%;
}

.myImg{
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 250px;
    border: 5px solid white;
    float: left;
    background-color: white;
}

.myImg img{
    border-radius: 50%;
}

.mainContent {
    padding: 20px;
    width: 100%;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting h2{
    margin: 0 0 20px 0;
}

.nameHighlight {
    color: steelblue;
}

.demos{
    background-color: whitesmoke;
    color: black;
    width: 99vw;
    padding: 0 30px;

}

.demoCardContainer{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.PLF{
    width: 99vw;
    padding: 0 30px;
}

@media screen and (max-width: 400px) {
    .greeting h1{
        text-align: center;
    }
    
    .myImg {
        margin: 0 auto;
        float: none;
    }
  }